 <!-- footer page starts  -->
 <footer id="footer">

    <div class="footer-container">

        <div class="footer-box">
            <h3>quick links</h3>
            <a href="{% url 'home'%}"> <i class="fas fa-angle-right"></i> home</a>
            <a href="{% url 'category'%}"> <i class="fas fa-angle-right"></i> category</a>
            <a href="{% url 'search'%}"> <i class="fas fa-angle-right"></i> Tours</a>
            <a href="{% url 'search'%}"> <i class="fas fa-angle-right"></i> Destination</a>
        </div>

        <div class="footer-box">
            <h3>extra links</h3>
            <a href="#"> <i class="fas fa-angle-right"></i> ask questions</a>
            <a href="#"> <i class="fas fa-angle-right"></i> about us</a>
            <a href="#"> <i class="fas fa-angle-right"></i> privacy policy</a>
            <a href="#"> <i class="fas fa-angle-right"></i> terms of use</a>
        </div>

        <div class="footer-box">
            <h3>contact info</h3>
            <a href="{% url 'contact'%}"> <i class="fas fa-phone"></i> +91 8220948680 </a>
            <a href="{% url 'contact'%}"> <i class="fas fa-phone"></i> +91 9876543210 </a>
            <a href="{% url 'contact'%}"> <i class="fas fa-envelope"></i> ak@gmail.com </a>
            <a href="{% url 'contact'%}"> <i class="fas fa-map"></i> Hosur - 635 109 </a>
        </div>

        <div class="footer-box">
            <h3>follow us</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
        </div>

    </div>
    <div class="credit"> created by <span>Ak Moorthi</span> | all rights reserved! </div>

</footer>
<!-- footer page ends  -->