{% extends 'layouts/main.html'%}
{% load static %}
{% block content%}
<div class="container guideline-deatils">
    <h3>Travel Guideline</h3>
    <hr>
    <div>
        <h5><i class="fa-solid fa-shield"></i> Safety</h5>
        <ul>
            <li>Terrorist activities, violent demonstrations and armed clashes sometimes occur in India. Avoid crowded places and possible targets. Large crowds at religious ceremonies and gatherings can also be dangerous. People have been killed in stampedes. Always have an exit plan.</li>
            <li>Women may face higher levels of verbal and physical harassment or sexual assault. Avoid travelling alone, even in major cities and tourist sites.</li>
            <li>Travellers have been robbed and assaulted after consuming spiked drinks or food. Don't leave your food or drinks unattended. Don't accept food or drinks from strangers. Petty theft is common in crowded areas such as markets and on public transport. Thieves on motorbikes snatch bags and jewellery. Carry only what you need. Pay close attention to your belongings.</li>
            <li>Scams are common. These can involve fake tour guides, ATM and credit card skimming, and fraudulent access to government services. If you're a scam victim, report it to the police to get an official report for your travel insurer.</li>
            
        </ul>
    </div>
    <div>
    <h5><i class="fa-solid fa-briefcase-medical"></i> Health</h5>
        <ul>
            <li>COVID-19 infection continues to be reported in India.</li>
            <li> National restrictions, including localised lockdowns and curfews, may be imposed at short notice. Monitor local media for the latest updates.</li>
            <li> Medical facilities in major cities have adequate treatment standards, though the availability of treatment may become strained with an increase in COVID-19 cases. Availability of treatment can be very limited or unavailable in remote and rural areas. You may need to be evacuated if you're seriously ill or injured. Medical evacuation can be very expensive, and lead times to arrange medevacs are increasing as the health care system comes under further stress.</li>
            <li>HIV/AIDS is widespread. Take precautions if you engage in high-risk activities.</li>
            <li>Malaria is a risk in many parts of India, including major cities. Dengue is widespread during the monsoon season. Zika virus outbreaks may occur. Other insect-borne diseases include Japanese encephalitis, chikungunya and filariasis. Ensure your accommodation is insect-proof. Use insect repellent. Get vaccinated. If you're pregnant, discuss this with your doctor.</li>
 
        </ul>
    </div>
    <div>
        <h5><i class="fa-solid fa-scale-balanced"></i> Local laws</h5>
        <ul>
            <li>Always carry your passport and ensure you have a valid visa. It's illegal not to. Conducting missionary work without a proper visa is illegal.</li>
            <li>In some locations, it’s illegal not to wear a facemask in public. The penalty could include time in prison. Make sure you follow the COVID-19 protocols in your location. Failure to follow protocols may attract criminal penalties.</li>
            <li>Don't use or carry illegal drugs. Penalties for drug offences include mandatory sentences and the death penalty.</li>
            <li>Check local alcohol laws before you visit. Laws on the legal drinking age and alcohol purchase vary between states.</li>
            <li>It's illegal to fly drones and other unmanned aircraft without official permission. Contact local police for advice. It's illegal to carry or export antiquities without a permit. Contact your nearest Indian embassy or consulate for advice. It's illegal to photograph airports, military sites and dams. Some places of worship also prohibit photography.</li>
            <li> India has strict dress and behaviour codes, especially at religious sites. Physical contact between men and women in public might be considered inappropriate.</li>
        </ul>
    </div>
    <div>
        <h5><i class="fa-solid fa-handshake-angle"></i> Local contacts</h5>
        <ul>
            <li>Call 1800 11 1363 for 24/7 tourist helpline in 12 languages, run by the Ministry of Tourism.</li>
            <li>Contact your provider with any complaints about tourist services or products.</li>
        </ul>
    </div>
</div>
{% include 'inc/Subscribe.html'%}
{% endblock content%}