{% extends 'layouts/main.html'%}
{% load static %}
{% block content%}
<section class="insurance">
    <div class="insurance-header">
        <div>
        <h3>What is Travel Insurance?</h3>
    <p>travel insurance policy is a versatile plan that offers financial compensation for a range of emergencies
        faced by the policyholder on a trip. It is a very effective way to secure any trip, given that you compare
        travel insurance plans before buying the best one for your upcoming trip.</p>
    <p>Usually, people only learn about travel insurance when they need to visit a country which requires them to
        buy international travel insurance online. However, compared to pre-pandemic times, more travellers are now
        insuring their trips.</p>
    </div>
    <img src="{% static 'images/ins.png'%}" alt="">
    </div>
    <div class="coverage">
        <h3>Coverage</h3>
        <hr>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        Journey Coverage
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        
                        <li><strong>Policy Extension: </strong> If for some reason your trip is extended and your
                            flight
                            is delayed for some days, then your overseas travel insurance will be extended for a
                            fixed
                            period.</li>
                       
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                        COVID-19 Coverage
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        
                        <li><strong>Medical Expenses:</strong> If you or anyone travelling abroad with you is
                            diagnosed
                            with COVID-19 abroad, then your COVID-19 insurance for international travel will provide
                            cover for these medical expenses &amp; treatment.</li>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                        Baggage Coverage
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        <li><strong>Covers Lost Baggage: </strong>Flights may misplace your luggage or worse it may
                            be
                            stolen. Luckily, with an overseas insurance plan, you will get help with the costs of
                            necessary personal expenses like clothing, medicines, and toiletries.</li>
                        
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFour">
                        Medical Coverage
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingFour">
                    <div class="accordion-body">
                        
                        <li><strong>Medical Emergencies: </strong>If you need medical assistance due to an accident
                            or
                            sudden illness, your travel insurance from India will cover you. In fact, many travel
                            insurance companies in India even offer cashless travel insurance. Through this, your
                            insurer can settle the treatment expenses directly at the network hospital.</li>
                        
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFive">
                        Add-On Covers/Optional Covers
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingFive">
                    <div class="accordion-body">
                        
                        <li><strong>Adventure Sports Cover: </strong>This add-on will let you freely enjoy winter
                            sports, adventure activities, etc. when you are on a trip abroad. Any medical expenses
                            caused due to these activities will be taken care of, as per the travel insurance policy
                            schedule.</li>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="notcoverage">
        <h3>What’s Not Covered</h3>
        <hr>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseSix">
                        Medical Exclusions
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingSix">
                    <div class="accordion-body">
                        <li>If you are travelling abroad against the medical advice of the doctor, then any medical expenses incurred will not be covered by the insurer.</li>
                        <li>Medical expenses for injuries or sickness caused while you were intoxicated or under the influence of alcohol shall not be covered under a travel insurance policy.</li>
                        <li>Treatment costs incurred due to sexually transmitted diseases and mental/nervous disorders are often not covered by many travel insurance companies in India.</li>
                        <li>Claims related to pregnancy or related complications are not covered.</li>
                        
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseSeven">
                        Baggage Exclusions
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingSeven">
                    <div class="accordion-body">
                        <li>Your international travel insurance policy will not cover baggage loss if your luggage has been shipped separately and/or is not accompanied by you.</li>
<li>Some policies don't cover cases beyond the specified geographic region.</li>
<li>Delay or failure in reporting the lost luggage to the relevant authorities may result in the rejection of your travel insurance claim.</li>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingEight">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseEight">
                        Journey Exclusions
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingEight">
                    <div class="accordion-body">
                        <li>Any claims arising because of dependency on intoxicants, such as alcohol or drugs will not be covered by the insurer.</li>
<li>Many insurers don’t cover claims arising out of the insured’s participation in adventure sports and other winter sports. For example, mountaineering, bike race, scuba diving, etc.</li>
<li>Loss due to involvement in illegal activities, theft, felony, etc. will not be covered.</li>
<li>Damage caused during dangerous or hazardous work will not be covered.</li>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingNine">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseNine">
                        Other Exclusions
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingNine">
                    <div class="accordion-body">
                        <li>The insurer will not cover any claims arising because of war-like circumstances, as well as a civil war in the country that you are visiting.</li>
                        <li>Claims arising due to terrorist attacks in your destination city or country may not always be covered by all insurers.</li>
                        <li>The insurer will not cover the expenses incurred during obtaining a duplicate or a new passport upon losing the original passport abroad if it was left unattended</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'inc/Subscribe.html'%}

{% endblock content%}